
/*
 * Default style sheet on Windows Platforms
 * Note: Always use CSS-classes with and without "ads--" namespace to support Qt4 & Qt5
 */

ads--CDockContainerWidget
{
  background-color:rgba(66,66,66,50%);
  /* border-top:1px solid rgba(25,25,25,50%); */
  background-color:transparent;
  qproperty-drawBase:0;
  border-bottom:1px solid rgba(25,25,25,50%);  
}

/*
ads--CDockContainerWidget QSplitter::handle
{
    background: palette(dark);
}
*/

ads--CDockAreaWidget
{
    /*
    background: #FF0000;
    border: 0;
    */
  background-color:transparent;
  qproperty-drawBase:0;    
}

ads--CDockAreaWidget #tabsMenuButton::menu-indicator
{
    image: none;
}


ads--CDockWidgetTab
{
    /*
    background: palette(dark);
    border-color: palette(dark);
    border-style: solid;
    border-width: 0 1px 0 0;
    padding: 0 0px;
    */
  padding:4px 6px;
  background-color:qlineargradient(x1:0,y1:1,x2:0,y2:0,stop:0 rgba(25,25,25,127),stop:1 rgba(53,53,53,75));
  border:1px solid rgba(25,25,25,75);
  border-top-left-radius:4px;
  border-top-right-radius:4px;    
}

ads--CDockWidgetTab[activeTab="true"]
{
    border-bottom:2px solid palette(highlight);
  background-color:qlineargradient(x1:0,y1:0,x2:0,y2:1,stop:0 rgba(53,53,53,127),stop:1 rgba(66,66,66,50%));
  border-bottom-color:rgba(66,66,66,75%);    
    /* background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:0.5, stop:0 palette(window), stop:1 palette(light)); */
    /*background: palette(highlight);*/
}

ads--CDockWidgetTab QLabel
{
    color: palette(dark);
}

ads--CDockWidgetTab[activeTab="true"] QLabel
{
    color: palette(foreground);
}

ads--CDockWidget
{
    background: palette(light);
    border-color: palette(light);
    border-style: solid;
    border-width: 1px 0 0 0;
}

ads--CTitleBarButton
{
  padding: 0px 0px;
}


QScrollArea#dockWidgetScrollArea
{
  padding: 0px;
  border: none;
}


#tabCloseButton
{
  margin-top: 2px;
  background: none;
  border: none;
  padding: 0px -2px;
}

#tabCloseButton:hover
{
  border: 1px solid rgba(0, 0, 0, 32);
  background: rgba(0, 0, 0, 16);
}

#tabCloseButton:pressed
{
  background: rgba(0, 0, 0, 32);
}


